body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 48px;
}

.header-links {
    display: flex;
    font-size: 8px;
    color: #e5e7eb;
    gap: 16px;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

.section-one {
    display: flex;
    background-color: #1f2937;
    padding: 0 48px;
    align-items: center;
    justify-content: space-between;
}

.section-one-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: white;
}

#button-one {
    max-width: 100px;
    background-color: #3882f6;
    border: none;
    border-radius: 9px;
    padding: 5px;
    color: white;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.section-two-content {
    display: flex;
    gap: 16px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 128px;
}

.box {
    width: 128px;
    height: 128px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 16px;
}

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

#quote-credit {
    align-self: flex-end;
}

